body {
  background-color: #515c6b;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}
li {
  margin: 20px;
}

input[type="submit"],
input[type="button"] {
  border-style: none;
  width: 90px;
  height: 40px;
  background-color: tomato;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  color: tomato;
  background-color: black;
  cursor: pointer;
}

input[type="submit"]:focus {
  background-color: black;
  color: tomato;
}

input {
  display: block;
  height: 20px;
  border: solid 1px #272726;
  background-color: #68768a;
}
th {
  background-color: tomato;
  color: #eef5db;
}

th,
td {
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #4f6367;
}

tbody tr:nth-child(even) {
  background-color: #7a9e9f;
}
